.app-hero {
    margin-block: em(50px);
    // padding-inline: em(36px);
    background-image: url("../assets/images/bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 220%;
    text-align: center;
    padding-block-end: 0;
    margin: 0;
    @media (min-width: 1000px) {
        background-size: 110%;
    }
    @media (min-width: 1600px) {
        background-size: 100%;
    }
    img {
        padding: 8px;
        max-width: em(720px);
        margin-inline: auto;
    }
    .hero-info {
        position: relative;
        .wave {
            overflow: hidden;
            // filter: invert(1) ;
            width: 100%;
            position: absolute;
            z-index: -1;
            left: 50%;
            top: 80%;
            transform: translate(-50%, -50%) scale(2);
        }
        h1 {
            margin-block-start: em(33px);
            font-family: ralewayBold;
            font-size: em(24px);
            line-height: em(24px);
            max-width: em(320px);
            margin-inline: auto;
            padding-inline: em(20px);
        }
        p {
            font-size: em(14px);
            line-height: em(21px);
            width: em(296px);
            margin-inline: auto;
            font-family: openSans;
            margin-block-start: em(20px);
        }
        button {
            margin-block-start: em(33px);
            padding: 16px 81px;
            border-radius: 2em;
            border: none;
            background: $gradient;
            box-shadow: 2px 3px 6px #00000029;
            color: $light;
        }

        @media (min-width: $break-narrow) {
            h1 {
                font-size: em(40px);
            }
            p {
                font-size: em(20px);
                width: em(590px);
                padding-inline: em(60px);
                line-height: em(30px);
            }
        }
    }
}
